/* for jquery-mobile.1.3.0 */

/* font-family */
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button{font-family:Helvetica,Arial,sans-serif; font-size:14px;}

/* header, footer */
.ui-mobile .ui-header, .ui-mobile .ui-footer{border-width:1px;}
.ui-header .ui-title, .ui-footer .ui-title{margin:0.7em 30px;}

/* control width */
/*.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search, .ui-field-contain .ui-select, .ui-field-contain .ui-controlgroup-controls, .ui-field-contain div.ui-input-text, .ui-field-contain div.ui-slider{width:100%;}*/
.ui-field-contain .ui-controlgroup-controls{width: 100%;}

/* fieldset border */
.ui-field-contain, fieldset.ui-field-contain{border-bottom:none;}

/* label */
.ui-controlgroup-label, label.ui-input-text, label.ui-select{font-size:14px;}
.ui-field-contain .ui-controlgroup-label, .ui-field-contain label.ui-select, .ui-field-contain label.ui-input-text, .ui-field-contain label.ui-slider{width: 100%;}

/* slider */
input.ui-input-text.ui-slider-input{width: 40px; border:1px solid #AAAAAA;}
.ui-controlgroup .ui-slider-track.ui-btn-corner-all, .ui-controlgroup .ui-slider-handle.ui-btn-corner-all, .ui-controlgroup .ui-slider-bg.ui-btn-corner-all{border-radius:1em;}
.ui-controlgroup-vertical .ui-slider .ui-btn{border-bottom-width:1px;}

/* table */
.ui-table-columntoggle-btn .ui-btn-inner .ui-btn-text{font-size: 14px;}
.ui-table-columntoggle-btn.ui-mini .ui-btn-inner{font-size: 14px; padding: 0.35em 11px 0.5em;}

/* input search */
.ui-controlgroup .ui-input-search.ui-btn-corner-all{border-radius:1em;}